/* reset defeault margin and padding
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Style Headdeer */
header {
    background-color: brown;
    color: beige
    text-a;ogn: center;
    padding: 20px;
}

/* Style navigation */
nav ul {
    list-style-type: none;
    background-color: 444;
    text-align: center;
    padding: 10px;
}

/* Style section */
section {
    padding: 20px;
    margin: 20 px;
    background-color: black
}

/*Style footer */
footer {
    background-color: black;
    color: aqua;
    text-align: center
    padding 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
    background-color: black;
    color: rgb(255, 255, 255);
}

nav ul li{ 
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: floralwhite;
    text-decoration: none;
    font-size: 18px
    position: relative;
}
.header-text{
    margin-top: 20%
    font-size: 500px
}
.header-text h1{
    font-size: xx-large;
    margain-top: 20px
}

 
