body{
    background-color: rgb(28, 141, 38)
}

#lineOne{
    .nanum-gothic-regular 
        font-family: "Nanum Gothic", sans-serif;
        font-size: 1000px;
        width: 10px;
        height: 50px;
        background: rgb(255, 255, 255);
        top: 320px;
        left: 380px;
        position: absolute;
}