div {
    background-color: yellow;
    font-weight: bold;
    font-size: 130%;
  }
  
    /* fadeInUp 
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation: fadeInUp;
  }

#lineOne{
    font-family: 'Gelasio', serif;
    font-size: 90px;
 } */

 @keyframes 
 from {
 }

 to {
    transform: rotate(360deg);
 }